CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=6144
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_BB_CONTROLLER_ID=1
CONFIG_BB_WIFI_SSID=""
CONFIG_BB_WIFI_PASSWORD=""
CONFIG_BB_LAPTOP_IP="192.168.1.2"
CONFIG_BB_LAPTOP_PORT=4210
CONFIG_BB_SERVO_ENABLED=n
CONFIG_BB_SERVO_REST_US=990
CONFIG_BB_SERVO_PRESS_US=570
CONFIG_BB_LASER_DUTY=1023
